\#*.*\#
.secret.el
org-roam.db
straight
config.md
config.el
config.html
elpa
eln-cache
recentf
auto-save-list
transient
parinfer-rust
semanticdb
eshell/history
eshell/lastdir
ido.last
.last-package-update-day
.cache
.lsp-session*
.#config.org
projects
history
irony
bookmarks
session.*
.cask
.cider-repl-history
url
quelpa
tramp
